body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #f4f6f9;
    overflow-x: hidden;
}

/* SIDEBAR */
#sidebar-wrapper {
    min-height: 100vh;
    width: 260px;
    background: #212529;
    position: fixed;
    transition: all 0.3s;
    z-index: 1000;
}

.sidebar-heading {
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #343a40;
    background: #1a1d20;
}

.list-group-item {
    background-color: transparent;
    color: #cfd8dc;
    border: none;
    padding: 15px 25px;
    font-size: 0.95rem;
    transition: all 0.2s;
}

    .list-group-item:hover {
        background-color: #343a40;
        color: #fff;
        padding-left: 30px; /* Hiệu ứng trượt nhẹ */
    }

    .list-group-item.active {
        background-color: #0d6efd;
        color: #fff;
        font-weight: 400;
        border-left: 4px solid #fff;
    }

    .list-group-item i {
        width: 25px;
        text-align: center;
        margin-right: 10px;
    }

/* CONTENT */
#page-content-wrapper {
    margin-left: 260px;
    width: calc(100% - 260px);
}

.navbar-light {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

.container-fluid {
    padding: 30px;
}
