/* Import font chữ hiện đại từ Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    background-color: #f8f9fa;
    color: #333;
}

/* Hiệu ứng thẻ sản phẩm */
.product-card {
    transition: all 0.3s ease-in-out;
    border: none;
    border-radius: 1px;
    overflow: hidden;
    background: #fff;
}

    .product-card:hover {
        transform: translateY(-10px); /* Bay lên nhẹ */
        box-shadow: 0 10px 20px rgba(0,0,0,0.1); /* Đổ bóng */
    }

    .product-card img {
        transition: transform 0.5s ease;
    }

    .product-card:hover img {
        transform: scale(1.05); /* Phóng to ảnh nhẹ khi hover */
    }

/* Nút bấm */
.btn-custom {
    background-color: #2c3e50;
    color: white;
    border-radius: 50px;
    padding: 8px 25px;
    transition: all 0.3s;
}

    .btn-custom:hover {
        background-color: #e74c3c;
        color: white;
        box-shadow: 0 5px 15px rgba(231, 76, 60, 0.4);
    }

/* Giá tiền */
.price-tag {
    color: #e74c3c;
    font-size: 1.2rem;
    font-weight: 700;
}


.services-section {
    padding: 80px 20px;
}

.services-title {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
}

.divider {
    width: 120px;
    height: 2px;
    background-color: #444;
    margin: 20px auto 60px;
    position: relative;
}

    .divider::after {
        content: "❧";
        position: absolute;
        top: -14px;
        left: 50%;
        transform: translateX(-50%);
        background: #faf7f2;
        padding: 0 10px;
        color: #c18a3f;
        font-size: 20px;
    }

.service-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin-bottom: 25px;
}

.service-title {
    color: #993500;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.service-text {
    font-size: 14px;
    line-height: 1.7;
    color: #555;
}
.send-btn {
    background-color: #3a1d0f;
}